$tool-sidebar-width: 200px;
$sidebar-nav-width: 30px;
$sidebar-nav-color: $arrow-color;
$sidebar-nav-selected-color: #6a7a89;
$sidebar-nav-background: #242427;


$basic-component-item-background: #212225;
$basic-component-item-selected-background: #333132;

#tool-sidebar {
    left: 0;
    width: $tool-sidebar-width;

    .sidebar-arrow {
        right: 15px;
    }
}

.sidebar-nav {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: $tool-sidebar-width - $sidebar-nav-width;

    ul {
        width: 100%;
    }

    li {
        width: 100%;
        padding: 10px;
        margin-bottom: 5px;
        font-size: 10px;
        color: $sidebar-nav-color;
        text-align: center;
        cursor: pointer;
        background-color: $sidebar-nav-background;
        border-radius: 0 2px 2px 0;

        &.selected {
            color: $sidebar-nav-selected-color;
            background-color: $sidebar-background;
        }

        &:hover {
            color: $sidebar-nav-selected-color;
        }
    }
}

.sidebar-body {
    position: absolute;
    top: $sidebar-header-height;
    right: 0;
    bottom: 0;
    left: 0;
}



.sidebar-content {
    position: absolute;
    top: 0;
    right: $sidebar-nav-width;
    bottom: 0;
    left: 0;
    overflow: auto;
}

#basic-components-list {
    width: 100%;

    li {
        float: left;
        width: 76px;
        height: 76px;
        margin: 2px;
        cursor: pointer;
        background-color: $basic-component-item-background;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 32px 32px;

        &.select,
        &:hover {
            background-color: $basic-component-item-selected-background;
        }
    }
}

#text-component {
    background-image: url('../asserts/text-icon.png');

    &:hover {
        background-image: url('../asserts/text-icon-selected.png');
    }
}

#image-component {
    background-image: url('../asserts/image-icon.png');

    &:hover {
        background-image: url('../asserts/image-icon-selected.png');
    }
}

#link-component {
    background-image: url('../asserts/link-icon.png');

    &:hover {
        background-image: url('../asserts/link-icon-selected.png');
    }
}
