* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lantinghei SC', 'MicrosoftYaHei', '微软雅黑';
    font-size: 16px;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

$input-color: #2f2f2f;

input {
    height: 20px;
    background-color: $input-color;
    border: 0;
    outline: none;
}

$btn-height: 40px;

.btn {
    width: 100px;
    height: $btn-height;
    padding: 0;
    font-family: 'Lantinghei SC', 'MicrosoftYaHei', '微软雅黑';
    font-size: 18px;
    line-height: $btn-height;
    text-align: center;
    cursor: pointer;
    border: 0;
    outline: none;
}

$white: #fff;
$positive-color: #3b6491;
$positive-hover-color: #3e6fa5;

.positive-btn {
    color: $white;
    background-color: $positive-color;

    &:hover {
        background-color: $positive-hover-color;
    }
}
