@import "common.scss";
@import "partial/header.scss";

#wrap {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    overflow: hidden;
}
#container, #content {
    position: absolute;
    top: $header-height;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow: hidden;
}
#content {
    top: 0px;
}

@import "partial/footer.scss";
